USE [master]
GO
/****** Object:  Database [stylesnap]    Script Date: 9/17/2025 8:18:33 PM ******/
CREATE DATABASE [stylesnap]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'stylesnap', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\stylesnap.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'stylesnap_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\stylesnap_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [stylesnap].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [stylesnap]
GO
/****** Object:  Table [dbo].[Designs]    Script Date: 9/17/2025 8:18:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Designs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[state_json] [nvarchar](max) NOT NULL,
	[thumbnail_url] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sessions]    Script Date: 9/17/2025 8:18:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sessions](
	[sid] [nvarchar](255) NOT NULL,
	[session] [nvarchar](max) NOT NULL,
	[expires] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAuthProviders]    Script Date: 9/17/2025 8:18:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAuthProviders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[provider] [nvarchar](50) NOT NULL,
	[provider_user_id] [nvarchar](255) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/17/2025 8:18:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[full_name] [nvarchar](120) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[last_login] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[sessions] ([sid], [session], [expires]) VALUES (N'W7ASUpGnYVtnOkbHA2gip4VFEpZABV-n', N'{"cookie":{"originalMaxAge":604800000,"expires":"2025-09-24T13:14:13.626Z","httpOnly":true,"path":"/"},"user":{"id":7,"email":"boom4@gmail.com","full_name":"wangtrung"}}', CAST(N'2025-09-24T13:14:30.207' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [email], [password_hash], [full_name], [created_at], [last_login]) VALUES (1, N'wangtrung2004@gmail.com', N'$2a$12$UTNg7DlaMHbhpgeJji.DiumY6gCLxIIj7aNiaSjYFbrcUY/DZA8mG', N'wangtrung', CAST(N'2025-09-16T04:40:56.8783758' AS DateTime2), CAST(N'2025-09-16T04:48:54.6418998' AS DateTime2))
INSERT [dbo].[Users] ([id], [email], [password_hash], [full_name], [created_at], [last_login]) VALUES (2, N'vinhhqhe186683@fpt.edu.vn', N'$2a$12$XhmwmUmr1N3J.t1Tq6nyr.IFsAqNc7WXrQ171iOUr4OX6JcJLdo/2', N'vin fast', CAST(N'2025-09-16T05:10:08.6243235' AS DateTime2), NULL)
INSERT [dbo].[Users] ([id], [email], [password_hash], [full_name], [created_at], [last_login]) VALUES (3, N'giap4869@gmail.com', N'$2a$12$YjMpAs2IkB1ium/yt8L6N.QqgSsj1K2azSwaMAiJBKAH.7REtq9Nu', N'rap cham thoi', CAST(N'2025-09-16T05:10:40.2805581' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Designs_UserId]    Script Date: 9/17/2025 8:18:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_Designs_UserId] ON [dbo].[Designs]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_sessions_expires]    Script Date: 9/17/2025 8:18:33 PM ******/
CREATE NONCLUSTERED INDEX [IDX_sessions_expires] ON [dbo].[sessions]
(
	[expires] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_UserAuthProviders]    Script Date: 9/17/2025 8:18:33 PM ******/
ALTER TABLE [dbo].[UserAuthProviders] ADD  CONSTRAINT [UQ_UserAuthProviders] UNIQUE NONCLUSTERED 
(
	[provider] ASC,
	[provider_user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserAuthProviders_UserId]    Script Date: 9/17/2025 8:18:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserAuthProviders_UserId] ON [dbo].[UserAuthProviders]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__AB6E6164EF0B6D2B]    Script Date: 9/17/2025 8:18:33 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Designs] ADD  CONSTRAINT [DF_Designs_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[UserAuthProviders] ADD  CONSTRAINT [DF_UserAuthProviders_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Designs]  WITH CHECK ADD  CONSTRAINT [FK_Designs_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Designs] CHECK CONSTRAINT [FK_Designs_Users]
GO
ALTER TABLE [dbo].[UserAuthProviders]  WITH CHECK ADD  CONSTRAINT [FK_UserAuthProviders_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserAuthProviders] CHECK CONSTRAINT [FK_UserAuthProviders_Users]
GO
USE [master]
GO
